<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name = "author" content = "Anna Lin">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content "Anna Lin's Professional Website">
    <title>Anna Lin</title>
</head>
<body>
    <header> 
        <h1>Anna Lin</h1>
        <nav><a href=" "url">Home</a>
             <a href=" "url">CV</a>
             <a href=" "url">Contact me</a>
             <a href=" "url">For fun</a></nav>
    </header>
    <!-- <p>don't worry Anna! it is all good!</p> -->
    <div>
        <main>
            <h2>Curriculum Vitae</h2>
            <table>name
                Description 
            </table>
            <footer>copyright statement here ASDFGHJKL</footer>
        </main>
    </div>
    
</body>
</html>